extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5   
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen nostros")
            .col-md-7
                h1= pagina   
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias magni commodi earum. Omnis eaque eius dolores ad, nisi repellendus quod sit veniam labore expedita voluptates adipisci esse at modi dignissimos! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta quos illo veritatis, non ad enim reprehenderit, inventore porro fuga quia atque necessitatibus a eius beatae ea? Fugiat reprehenderit quasi nam.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, debitis. Provident vitae, quisquam optio ipsa vero, reprehenderit totam voluptatum eaque eos perferendis, veritatis nulla! Velit, animi quibusdam! Aliquam, dolor! Suscipit.
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores soluta inventore optio fuga delectus fugiat vel provident? Dolorum ullam porro sint fugiat aspernatur? Amet ullam dolor excepturi aut? Repudiandae!
                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="Destino" class="img-fluid")
                        h2.mb-4 Mejores destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores soluta inventore optio fuga delectus fugiat vel provident? Dolorum ullam porro sint fugiat aspernatur? Amet ullam dolor excepturi aut? Repudiandae!
                    .col-md-4
                        img(src="img/icono_precio.svg", alt="precio" class="img-fluid")
                        h2.mb-4 Precio
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores soluta inventore optio fuga delectus fugiat vel provident? Dolorum ullam porro sint fugiat aspernatur? Amet ullam dolor excepturi aut? Repudiandae!